/* dashboard container  */
#dashboard-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 340px 1fr;

  position: relative;
}

/* dashboard menu contianer  */
#dashboard-menu-container {
  padding: 24px 0;
  color: var(--pmk-white);
  background-color: var(--pmk-green-dark-sublet);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 340px;

  display: flex;
  flex-direction: column;
  transition: all 0.65s ease-in-out;
}

/* collepsed styles  */
#dashboard-menu-container.dashboard-menu-collapsed {
  left: -500px;
}

/* dashboard menu image  */
.d-menu-image {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 0 24px 20px;
  margin: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.d-menu-image img {
  width: 40px;
  flex-shrink: 0;
}

.d-menu-image-content {
  flex: 1;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.45px;
  text-transform: capitalize;
  margin-top: 8px;
}

/* dashboard menu  */
.dashboard-menu {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.d-menu {
  display: flex;
  flex-direction: column;
}

.d-menu-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.785rem;
  font-weight: 400;
  padding: 0 24px 12px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.d-menu-link {
  width: 100%;
  color: var(--pmk-white);
  font-size: 0.95rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 6px;

  padding: 14px 24px;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
}

.d-menu-link svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  margin-bottom: 2px;
}

.d-active {
  background-color: var(--pmk-green);
}

.d-menu-link:hover {
  background-color: var(--pmk-green-dark);
}

/* dashboard logout  */
.dashboard-logout {
  flex-shrink: 0;
  padding: 24px 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.d-logout-button {
  display: flex;
  align-items: center;
  gap: 14px;

  color: var(--pmk-white);
  font-size: 0.95rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.35px;
  transition: all 0.35s ease-in-out;
}

.d-logout-button:hover {
  color: rgba(255, 255, 255, 0.75);
}

.d-logout-button svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
}

/* dashboard content container  */
#dashboard-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 340px;
  right: 0;
  width: calc(100% - 340px);
  transition: all 0.65s ease-in-out;
}

/* collepsed styles  */
#dashboard-content-container.dashboard-menu-collapsed {
  left: 0;
  width: 100%;
}

/* dashboard topbar  */
#dashobard-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
  background-color: var(--pmk-green-light);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 8px rgba(31, 41, 51, 0.08);

  position: sticky;
  top: 0;
  left: 340px;
  right: 0;
  z-index: 10;
  transition: all 0.65s ease-in-out;
}

/* collapsed styles  */
.dashboard-menu-collapsed #dashobard-topbar {
  left: 0;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.d-menu-controller svg {
  width: 22px;
  height: 22px;
  stroke: var(--pmk-blue-dark);
}

.d-title {
  color: var(--pmk-blue-dark);
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.45px;
  margin-bottom: 3px;
}

.topbar-right {
  display: flex;
  align-items: center;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-avatar {
  color: var(--pmk-white);
  padding: 3px 4px;
  border-radius: 50%;
  border: 1px solid var(--pmk-green-dark-sublet);
  background-color: var(--pmk-green-dark-sublet);

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

.d-user {
  color: var(--pmk-blue-dark);
  font-size: 0.9rem;
  font-weight: 700;
}

/* dashboard area  */
#dashboard {
  padding: 24px 24px 32px;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
