/* import common styles  */
@import url("./common.css");

/* pmk executive section styles  */
#pmk-executive {
  padding: 80px 20px;
  background: linear-gradient(135deg, #f0fdfa, #ecfeff);
  position: relative;
  overflow: hidden;
}

#pmk-executive:before,
#pmk-executive:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(22, 160, 133, 0.1);
}

#pmk-executive::before {
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}

#pmk-executive::after {
  width: 250px;
  height: 250px;
  right: -80px;
  bottom: -80px;
}

.exe-row {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 50px;
}

.exe-col {
  background: var(--pmk-white);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: background 0.5s ease-in-out;
}

.exe-col:hover {
  background: radial-gradient(
    circle at top right,
    rgba(16, 185, 129, 0.08),
    transparent 60%
  );
}

/* hover trigger */
.exe-col:hover .shinny-effect::before {
  animation: toTopRight 2.5s ease forwards;
}

.exe-col:hover .shinny-effect::after {
  animation: toBottomLeft 2.5s ease forwards;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.profile:first-child {
  margin-bottom: 20px;
}

.profile:last-child {
  margin: 20px 0 0;
  flex-direction: row-reverse;
}

.profile img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--pmk-green);
}

.info h4 {
  color: var(--pmk-blue-dark);
  font-size: 1.2rem;
  font-weight: 500;
}

.info span {
  display: block;
  color: var(--pmk-green);
  font-size: 1rem;
  font-weight: 600;
}
.info small {
  color: var(--pmk-dark);
  font-family: 0.95rem;
  font-weight: 300;
}

.msg-title {
  color: var(--pmk-blue-dark);
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 15px;
  position: relative;
}

.msg-title::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 4px;
  height: 70%;
  background-color: var(--pmk-green);
  border-radius: 5px;
}

.message {
  margin-top: 10px;
}

.message p {
  font-size: 1rem;
  text-align: justify;
}

.see-more {
  color: inherit;
  text-decoration: underline;
}

/* scrolling effect  */
.exe-col {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: 1.2s ease-in-out;
}

.section-visible .exe-col {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0.2s;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  #pmk-executive {
    padding: 80px 20px;
    height: auto;
  }
  .exe-row {
    grid-template-columns: 1fr;
  }

  .profile {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .profile:last-child {
    flex-direction: column;
  }

  .profile img {
    width: 130px;
    height: 130px;
  }

  .info {
    text-align: center;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  #pmk-executive {
    height: auto;
  }
  .exe-row {
    grid-template-columns: 1fr;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
