/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* reset all default styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

/* shared styles  */
.container-width {
  width: 80%;
  margin: 0 auto;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

/* common styles  */
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* footer section's  styles  */
footer.pmk-footer {
  margin-top: 56px;
}

footer .membership {
  background-color: #0f8f63;
  text-align: center;
  padding: 40px 20px;
}

.membership .welcome-text {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.membership .member-btn {
  color: #0f8f63;
  background-color: #fff;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.membership .member-btn:hover {
  background: #f1f1f1;
}

/* footer-main section styles  */
footer .footer-main {
  color: #fff;
  background-color: #0f5675;
  padding: 70px 20px;
}

.footer-main .widget-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
  border-left: 3px solid #f4b400;
  padding-left: 10px;
}

.footer-main .widget-description {
  color: #e0e0e0;
  font-size: 0.875rem;
  line-height: 1.6;
  text-align: justify;
}

.footer-main .pmk-mini-logo {
  width: 22%;
  object-fit: contain;
}

.footer-main .social-icons {
  margin-top: 18px;
}

.social-icons li {
  display: inline-flex;
}

.social-icons .social-link {
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.social-icons .social-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.social-link.facebook:hover {
  background: #1877f2;
}

.social-link.twitter:hover {
  background: #000000;
}

.social-link.instagram:hover {
  background: #e4405f;
}

.social-link.github:hover {
  background: #333333;
}

.footer-main nav {
  gap: 10px;
  margin-top: 50px;
}

.footer-main .nav-link {
  color: #e0e0e0;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: all 0.4s ease;
}

.footer-main .nav-link:hover {
  color: #0f8f63;
}

.footer-main .address {
  margin-top: 50px;
}

.footer-main .address p {
  color: #e0e0e0;
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 500;
}

.footer-main .address p:nth-child(n + 1) {
  margin-bottom: 10px;
}

.footer-main .newsletter h5 {
  margin: 10px 0 20px;
  font-size: 0.875rem;
  font-weight: 600;
}

.footer-main .newsletter form {
  display: flex;
}

.footer-main .newsletter form input {
  flex: 1;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px;
  border: none;
  outline: none;
}

.footer-main .newsletter form button {
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #0f8f63;
  border: none;
  padding: 10px 16px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.footer-main .newsletter form button:hover {
  background: #0c6e4d;
}
/* copyright styles  */
footer .copyright {
  background-color: #0c4a66;
  padding: 20px;
}

.copyright .copyright-content {
  color: #cccccc;
  font-size: 0.875rem;
  max-width: 1400px;
  margin: 0 auto;
}

.copyright-content .nav .nav-item .nav-link {
  color: #cccccc;
  transition: 0.3s ease;
}

.copyright-content .nav .nav-item .nav-link:hover {
  color: #f1f1f1;
}
/*
------------Slider responsive styles------------
  */
/* responsive styles:: extra small devices  */
@media (max-width: 767.98px) {
  .container-width {
    width: 100%;
  }

  /* footer section styles  */
  .membership .welcome-text {
    font-size: 1.55rem;
  }

  .footer-main .widget-title {
    margin-top: 30px;
  }

  .footer-main nav {
    margin-top: 30px;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-main .widget-title {
    margin-top: 30px;
  }

  .footer-main nav {
    margin-top: 30px;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer-main .newsletter form {
    display: block;
  }
  .footer-main .newsletter form input {
    border-radius: 4px;
    font-size: 0.75rem;
    width: 100%;
    display: inline-block;
  }

  .footer-main .newsletter form button {
    margin-top: 12px;
    padding: 8px 12px;
    font-size: 0.85rem;
    border-radius: 4px;
  }
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
