/* import common styles  */
@import url("./common.css");

.section-container {
  text-align: center;
}

.section-label {
  font-size: 1rem;
  color: var(--pmk-green);
  font-weight: 600;
  position: relative;
}

.section-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  height: 1.5px;
  width: 22px;
  background-color: var(--pmk-blue-dark);
  border-radius: 2px;
  display: block;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 12px;
  color: var(--pmk-blue-dark);
}

.section-subtitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--pmk-green);
  margin-top: 10px;
}

.section-description {
  width: 88%;
  margin: 18px auto 0;
  line-height: 1.5;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .section-label {
    font-size: 0.875rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .section-description {
    width: 100%;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-label {
    font-size: 0.95rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .section-description {
    width: 100%;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
