/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* reset all default styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* shared styles  */
.font-playfair {
  font-family: "Playfair Display", serif;
}

/* common styles  */
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
