/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* reset all default styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* shared styles  */
:root {
  --pmk-green: #00946a;
  --pmk-green-dark: #176f4e;
  --pmk-green-light: #e6f4ef;

  --pmk-blue: #0e5a7c;
  --pmk-blue-dark: #083d56;
  --pmk-gold: #f4b400;

  --pmk-dark: #1f2933;
  --pmk-gray-light: #e0e0e0;
  --pmk-white: #ffffff;
}

.container-width {
  width: 80%;
  margin: 0 auto;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

/* common styles  */
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* mini nav (top) section  styles  */
#mini-nav {
  height: 60px;
  color: var(--pmk-white);
  background-color: var(--pmk-green);
  display: flex;
  align-items: center;
}

.mini-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.mini-key-info-bar {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.key-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.key-item p {
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 2px;
}

.key-item p a {
  color: var(--pmk-white);
}

.container-mini-navbar {
  display: flex;
}

.mini-navbar,
.mini-social-bar {
  display: flex;
  gap: 20px;
}

.mini-navbar {
  margin-right: 30px;
}

.mini-navbar .mini-nav-link {
  color: var(--pmk-white);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.mini-navbar .mini-nav-link:hover,
.mini-social-bar li a:hover {
  color: var(--pmk-blue-dark);
}

.mini-social-bar li a {
  color: var(--pmk-white);
  transition: 0.3s ease-in-out;
}

/* navbar (main) section styles  */
#navigation {
  /* position: fixed;
  top: 60px;
  left: 0; */
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

  /* background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease; */
}

/* #navigation.scrolled {
  top: 0;
  background-color: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

#navigation.scrolled .nav-link {
  color: #1f2933;
} */

/* #navigation.scrolled .nav-link:hover,
#navigation.scrolled .nav-link.active {
  color: var(--pmk-green);
} */

.brand-name {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: 70px;
}

.brand-name #logo-img {
  height: 70%;
  width: auto;
  object-fit: contain;
}

.brand-name .org-name {
  color: var(--pmk-blue-dark);
  font-size: 0.95rem;
  font-weight: 700;
  margin-top: 8px;
}

.navbar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5;
  color: var(--pmk-blue-dark);
  font-weight: 500;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--pmk-green);
}

.navbar .dropdown .dropdown-menu {
  display: block;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  top: 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  backdrop-filter: blur(8px);
  min-width: 200px;
  padding: 0;
  background-color: var(--pmk-green-light);
  border: 1px solid var(--pmk-green);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.1s;
}

.navbar .dropdown .dropdown-menu.show {
  height: auto;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar .dropdown-menu li {
  border-bottom: 1px solid var(--pmk-green);
}

.navbar .dropdown-menu li:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
}

.navbar-toggler {
  padding: 4px 8px;
  border: 1px solid #000;
  background-color: #0000002c;
  transition:
    box-shadow 0.3s ease,
    transform 0.15s ease;
}

.navbar-toggler:hover {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.navbar-toggler:focus {
  box-shadow:
    0 0 0 3px rgba(0, 0, 0, 0.35),
    0 4px 14px rgba(0, 0, 0, 0.25);
}

.navbar-toggler:active {
  transform: scale(0.96);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

/*
------------Slider responsive styles------------
  */
/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  /* shared styles  */
  .container-width {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  /* mini navbar (top) section styles  */

  .mini-key-info-bar {
    display: none;
  }

  .container-mini-navbar {
    flex-grow: 1;
    justify-content: space-between;
  }

  .mini-navbar,
  .mini-social-bar {
    gap: 10px;
  }

  .mini-navbar .mini-nav-link {
    font-size: 0.675rem;
  }

  .mini-social-bar li a {
    color: var(--pmk-white);
    font-size: 0.8rem;
  }

  /* navbar (main) section styles  */
  #navigation {
    height: auto;
  }

  #navigation .navbar-collapse {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  #navigation .navbar-collapse::-webkit-scrollbar {
    width: 6px;
  }

  #navigation .navbar-collapse::-webkit-scrollbar-thumb {
    background-color: var(--pmk-green-dark);
    border-radius: 6px;
  }

  #navigation .navbar-collapse::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #navigation .navbar-collapse::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
    background-color: var(--pmk-dark);
    border-radius: 50%;
  }

  .brand-name #logo-img {
    height: 50%;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* mini navbar (top) section styles  */

  .mini-key-info-bar {
    display: none;
  }

  .container-mini-navbar {
    flex-grow: 1;
    justify-content: space-between;
  }

  /* navbar (main) section styles  */
  #navigation {
    height: auto;
  }

  #navigation .navbar-collapse {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  #navigation .navbar-collapse::-webkit-scrollbar {
    width: 6px;
  }

  #navigation .navbar-collapse::-webkit-scrollbar-thumb {
    background-color: var(--pmk-green-dark);
    border-radius: 6px;
  }

  #navigation .navbar-collapse::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #navigation .navbar-collapse::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
    background-color: var(--pmk-dark);
    border-radius: 50%;
  }
}

/* responsive styles:: small devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: small devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: small devices  */
@media (min-width: 1400px) {
}
