/* main news page styles  */
.main-news-page {
  padding: 40px 0 100px;
  display: grid;
  grid-template-columns: 1.35fr 0.65fr;
  gap: 32px;
}

/* new content container styles  */
.news-content-container {
  width: 100%;
  overflow: hidden;
}

.news-feature-image {
  width: 100%;
  height: 520px;
  border-radius: 2px;
  border: 5px solid var(--pmk-green-dark);
  margin: 0;
  position: relative;
}

.news-feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: 2;
}

.news-fea-img-content {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;

  color: var(--pmk-white);
  display: flex;
  justify-content: space-between;
  gap: 24px;
  z-index: 2;
}

.news-category,
.news-post-date {
  color: var(--pmk-white);
  padding: 5px 12px;
  font-size: 0.675rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--pmk-green-dark);

  display: flex;
  align-items: center;
  gap: 6px;
}

.news-post-date {
  background-color: var(--pmk-green-dark-sublet);
}

.news-category svg,
.news-post-date svg {
  width: 18px;
  height: 18px;
  stroke: currentColor;
  margin-bottom: 3px;
}

.news-title {
  width: fit-content;
  color: var(--pmk-white);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  padding: 16px 24px;
  margin: 0 auto;
  background-color: var(--pmk-green-dark);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;

  z-index: 2;
}

.news-meta-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}

.news-meta-left,
.news-meta-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.news-meta {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #6b7280;
  font-size: 0.825rem;
  font-weight: 600;
}

.news-meta svg {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  margin-bottom: 2px;
}

.news-social-icon {
  stroke: blue !important;
  cursor: pointer;
}

.news-social-icon:last-child {
  stroke: var(--pmk-green) !important;
  cursor: pointer;
}

.news-content:not(:last-child) {
  margin-top: 32px;
}

.news-description,
.news-description > * {
  color: #6b7280 !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
}

.news-description > img {
  width: 32%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
}
.news-description ol li,
.news-description ul li {
  color: #6b7280;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: normal;
}

/* feature short image  */
.news-feature-short-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 24px;
}

.new-feature-short-image {
  width: 100%;
  height: 280px;
  border: 3px solid var(--pmk-green-dark);
  margin: 0;
  overflow: hidden;
}

.new-feature-short-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  transition: all 0.5s ease-in-out;
}

.new-feature-short-image:hover img {
  transform: scale(1.1);
}

/* comment area  */
.comment-area {
  margin-top: 32px;
}

.comment-area-label {
  color: var(--pmk-blue-dark);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.comment-area-text {
  color: #6b7280;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 8px 0 16px;
}

/* comment are  form  */
.news-comment-form {
  width: 720px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.comment-input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

.comment-input-field:first-child {
  grid-column: span 2;
}

.comment-input-field label {
  color: #6b7280;
  font-size: 0.95rem;
  font-weight: 600;
}
.comment-input-field textarea,
.comment-input-field input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  border: 0.5px solid #6b7280;

  color: #6b7280;
  font-size: 0.875rem;
  font-weight: 400;
}

.comment-input-field textarea {
  height: 150px;
  resize: none;
}

.comment-button {
  color: var(--pmk-white);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
  padding: 12px 16px;
  background-color: var(--pmk-green);

  display: flex;
  align-items: center;
  gap: 4px;

  transition: all 0.35s ease-in-out;
}

.comment-button:hover {
  background-color: var(--pmk-green-dark);
}

.comment-button svg {
  transition: all 0.35s ease-in-out;
}

.comment-button:hover svg {
  transform: rotate(45deg);
}

/* related-news styles  */
.related-news-container {
  width: 100%;
}

.related-news {
  border-radius: 4px;
  /* border: 1px solid var(--pmk-green-light);
  background-color: var(--pmk-green-light); */
}

.related-news-label {
  color: var(--pmk-green-dark);
  font-size: 1.1rem;
  font-weight: 600;
  font-style: italic;
  padding: 16px 16px 0;

  position: relative;
}

.related-news-label::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 16px;

  display: block;
  width: 56px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--pmk-green-dark);
}

.related-news-cards {
  margin-top: 16px;
}

.related-news-card {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 16px;
  transition: all 0.35s ease-in-out;
}

.related-news-card:hover {
  /* background-color: #83b7831a; */
  background-color: var(--pmk-green-light);
}

.related-news-image {
  width: 160px;
  height: 65px;
  border-radius: 2px;
  border: 1px solid var(--pmk-green-dark);
  overflow: hidden;
  margin: 0;
}
.related-news-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.rncc-title {
  color: var(--pmk-blue-dark);
  font-size: 0.95rem;
  font-weight: 700;
  transition: all 0.35 ease-in-out;
}

.rncc-title:hover {
  color: var(--pmk-green-dark);
  text-decoration: underline;
}

.related-news-card:hover .rncc-title {
  color: var(--pmk-green-dark);
}

.rncc-post-date {
  display: flex;
  align-items: center;
  gap: 4px;

  color: #6b7280;
  font-size: 0.775rem;
  font-weight: 400;
  margin-top: 4px;
}

.related-news-card:hover .rncc-post-date {
  color: var(--pmk-dark);
}

.rncc-post-date svg {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
}

.view-button {
  margin-top: 16px;
}

.view-button .comment-button {
  width: 75%;
  margin: 0 auto;
  padding: 10px 14px;
  font-size: 0.875rem;
  justify-content: center;
}

.view-button .comment-button svg {
  width: 20px;
  height: 24px;
  transform: rotate(-45deg);
  transition: all 0.35s ease-in-out;
}

.view-button .comment-button:hover svg {
  transform: rotate(0deg);
}

/* category list  */
.category-lists {
  margin: 32px 0 0;
}

.list {
  margin-top: 14px;
}

.category {
  color: #6b7280;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease-in-out;
}

.category:hover {
  color: var(--pmk-green-dark);
  background-color: var(--pmk-green-light);
}

/* reset footer  */
.footer-main {
  margin-top: 0 !important;
}

.copyright {
  background-color: #fff !important;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  /* main news page styles  */
  .main-news-page {
    padding: 32px 0 50px;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .news-feature-image {
    width: 100%;
    height: 320px;
    border-radius: 2px;
    border: 5px solid var(--pmk-green-dark);
    position: relative;
  }

  .news-category,
  .news-post-date {
    font-size: 0.725rem;
    gap: 2px;
  }

  .news-category svg,
  .news-post-date svg {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
  }

  .news-title {
    font-size: 1.25rem;
    padding: 12px 20px;
    position: static;
  }

  .news-meta-actions {
    flex-direction: column;
    align-items: normal;
    gap: 12px;
    margin-top: 85px;
  }

  .news-content:not(:last-child) {
    margin-top: 24px;
  }

  .news-description {
    font-size: 0.9rem;
  }

  .news-feature-short-image-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* new key highlight content  */
  .new-key-highlight {
    margin-top: 24px;
  }

  .news-key-label {
    font-size: 1.1rem;
    margin-bottom: 12px;
  }

  .news-key-item {
    align-items: flex-start;
  }

  .key-item-icon {
    width: 24px;
    height: 24px;
  }

  .key-item-content {
    font-size: 0.875rem;
  }

  /* comment are  form  */
  .news-comment-form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .comment-input-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .comment-input-field:first-child {
    grid-column: span 1;
  }

  .comment-button {
    font-size: 0.9rem;
    padding: 8px 12px;
    gap: 8px;
  }

  .view-button .comment-button {
    width: 100%;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* main news page styles  */
  .main-news-page {
    padding: 40px 0 80px;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .news-feature-image {
    width: 100%;
    height: 320px;
    border-radius: 2px;
    border: 5px solid var(--pmk-green-dark);
    position: relative;
  }

  .news-category,
  .news-post-date {
    font-size: 0.725rem;
    gap: 2px;
  }

  .news-category svg,
  .news-post-date svg {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
  }

  .news-title {
    font-size: 1.25rem;
    padding: 12px 20px;
    position: static;
  }

  .news-meta-actions {
    flex-direction: column;
    align-items: normal;
    gap: 12px;
    margin-top: 64px;
  }

  .news-content:not(:last-child) {
    margin-top: 16px;
  }

  .news-description {
    font-size: 0.9rem;
  }

  .news-feature-short-image-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .new-feature-short-image {
    height: 280px;
  }

  /* new key highlight content  */
  .new-key-highlight {
    margin-top: 24px;
  }

  .news-key-label {
    font-size: 1.1rem;
    margin-bottom: 12px;
  }

  .key-item-icon {
    width: 16px;
    height: 16px;
  }

  .key-item-content {
    font-size: 0.875rem;
  }

  /* comment are  form  */
  .news-comment-form {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }

  .comment-input-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
  }

  .comment-input-field:first-child {
    grid-column: span 1;
  }

  .comment-button {
    font-size: 0.9rem;
    padding: 8px 12px;
    gap: 8px;
  }

  .view-button .comment-button {
    width: 50%;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .news-feature-image {
    height: 420px;
  }

  .news-title {
    font-size: 1.4rem;
  }

  .news-feature-short-image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .view-button .comment-button {
    width: 100%;
  }
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .news-feature-image {
    height: 420px;
  }

  .news-title {
    font-size: 1.4rem;
  }

  .news-feature-short-image-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .view-button .comment-button {
    width: 100%;
  }
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
