/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* reset all default styles  */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* shared styles  */
.container-width {
  width: 80%;
  margin: 0 auto;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

/* common styles  */
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* slider styles  */
.slider-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slider-wrapper .slider-item {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-wrapper .slider-item:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  filter: brightness(60%) contrast(120%);
  background-image: url("../assets/slider/infont_of_pmk.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-wrapper .slider-item:nth-child(2):before {
  background-image: url("../assets/slider/medical_team_pmk.jpg");
}

.slider-wrapper .slider-item:nth-child(3):before {
  background-image: url("../assets/slider/nursing_collage.png");
}
.slider-wrapper .slider-item:nth-child(4):before {
  background-image: url("../assets/slider/various_project.jpg");
}
.slider-wrapper .slider-item:nth-child(5):before {
  background-image: url("../assets/slider/wash_project.jpg");
}
.slider-wrapper .slider-item:nth-child(6):before {
  background-image: url("../assets/slider/world_bank_visitor_at_pmk.jpg");
}

.slider-wrapper .slider-item .slider-content {
  color: #fff;
  z-index: 20;
  position: relative;
  padding: 30px 20px;
  width: 1400px;
}

.slider-wrapper .slider-item .slider-content > * {
  max-width: 55%;
}

.slider-item .slider-content .slider-subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: #e8f5e9;
}

.slider-item .slider-content .slider-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 5px;
  line-height: 1.2;
}

.slider-item .slider-content .slider-description {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.slider-item .slider-content .slider-button {
  color: #fff;
  width: 250px;
  padding: 13px 0;
  border: 2px solid #fff;
  display: block;
  text-align: center;
  margin-top: 45px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.4s ease;
}

.slider-item .slider-content .slider-button:hover {
  color: #000;
  background-color: #fff;
}

/* slider pagination styles  */
.slider-container .slider-controls {
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 20;
  width: 100%;
}

.slider-controls .slider-pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
}

.slider-pagination .slider-indicator {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #fff;
  transition: 0.4s ease-in-out;
}

.slider-pagination .slider-tab {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
