/* pmk gallery section styles  */
#pmk-video-gallery {
  margin-top: 120px;
}

.video-container-parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 60px;
  overflow: hidden;
}

.main-video-container {
  background-color: var(--pmk-white);
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(128, 128, 128, 0.188);

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100px);
  transition: all 1.2s ease-in-out;
}

.main-video-container.section-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.main-video {
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.main-video-title {
  margin-top: 14px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--pmk-blue-dark);

  display: flex;
  align-items: center;
  gap: 6px;
}

.playlist-container {
  background-color: var(--pmk-white);
  border-radius: 6px;
  padding: 15px;
  max-height: 420px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(128, 128, 128, 0.188);

  opacity: 0;
  visibility: hidden;
  transform: translateX(100px);
  transition: all 1.2s ease-in-out;
}

.playlist-container.section-visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}

.playlist-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--pmk-blue-dark);
}

.playlist {
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
  padding-right: 5px;

  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent;
}

.playlist::-webkit-scrollbar {
  width: 8px;
}

.playlist::-webkit-scrollbar-track {
  background: transparent;
}

.playlist::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #cbd5e1, #94a3b8);
  border-radius: 10px;
  transition: 0.3s;
}

.playlist::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #94a3b8, #64748b);
}

.list {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transform: translateX(0);
  transition: all 0.3s ease;
}

.list:not(:last-child) {
  margin-bottom: 10px;
}

.list:hover {
  background-color: var(--pmk-green-light);
  transform: translateX(3px);
}

.list-active {
  background-color: var(--pmk-green-light);
}

.list-video {
  width: 120px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.list-video-title {
  color: var(--pmk-dark);
  font-size: 0.95rem;
  font-weight: 500;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .video-container-parent {
    grid-template-columns: 1fr;
  }

  .playlist-container {
    max-height: unset;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .video-container-parent {
    grid-template-columns: 1fr;
  }

  .playlist-container {
    max-height: unset;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}
